.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

fieldset .input-wrapper {
  flex-direction: row;
}

fieldset label:after {
  content: ":";
}

fieldset input {
  flex-grow: 1;
}

textarea {
  resize: vertical;
}

input,
textarea {
  padding: 0.2rem;
}

fieldset {
  border: none;
  margin-top: var(--m);
}

legend {
  font-weight: bold;
}
