.note-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--l);

  list-style-type: none;
}

.note-card {
  background-color: var(--color5);
  border-radius: var(--br);
  padding: var(--m);
}
