body{
  display: flex;
  flex-direction: column;
  min-height: 100svh;

  padding: var(--m) var(--l);
  gap: var(--m);
}

body main{
  flex-grow: 1;
}

body main > header{
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-bottom: var(--m);
}

body > footer{
  display: flex;
  justify-content: space-between;
}

body > footer #user-actions{
  display: flex;
  gap: var(--m);
}

#page-content hr{
  margin: var(--m) 0;
}